@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

* {
  font-family: "Barlow", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  max-width: 100%;
}

html {
  background-color: var(--background-color);
}

html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background: var(--neutral-color);
}

html::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border: 0.1px;
  border-radius: 1rem;
}

:root {
  --primary-color: #3a0ca3;
  --primary-alpha-color: #f72585;
  --secondary-color: #480ca8;
  --scrollbar-color: #c4b6e3;
  --background-color: #edf4fd;
  --dark-color: #14213d;
  --shadow-color: #adb5bd;
  --neutral-color: #e5e5e5;
  --white-color: #ffffff;
}

.centered-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section {
  padding: 2.5rem 5rem;
  margin-top: 5rem;
}

.section__heading {
  color: var(--primary-alpha-color);
  font-size: 0.9rem;
}

.section__title {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 2.5rem 5rem;
}

.header__menu-bar {
  font-size: 3rem;
  color: var(--secondary-color);
  cursor: pointer;
  display: none;
}

.header__navbar {
  gap: 2.5rem;
  margin: 0 auto;
}

.navbar__list {
  list-style: none;
  gap: 2.5rem;
  margin: 0 auto;
}

.navbar__link {
  color: var(--primary-color);
  font-size: 1.2rem;
}

.navbar__link:hover {
  color: var(--primary-alpha-color);
  transition: all 0.5s;
}

.header__logo {
  font-size: 1.9rem;
  color: var(--primary-color);
  font-weight: bold;
  text-align: center;
}

.header__logo:hover {
  color: var(--primary-alpha-color);
  transition: all 0.6s;
}

.header__cta {
  margin-left: auto;
  border-radius: 1rem;
  align-self: center;
  font-size: 1rem;
  background-color: var(--white-color);
  color: var(--secondary-color);
  width: 12rem;
  height: 2.5rem;
}

.header__cta:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
  transition: all 0.5s;
}

.header__logo,
.navbar__link,
.header__cta {
  text-decoration: none;
}

.home {
  margin-top: 5rem;
  gap: 1rem;
}

.home__title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.1;
  color: var(--secondary-color);
}

.home__description {
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.8;
  color: var(--dark-color);
}

.home__link {
  justify-content: flex-start;
  padding-top: 2rem;
  gap: 1rem;
}

.home__link--first,
.home__link--second {
  text-decoration: none;
  background-color: var(--white-color);
  font-weight: bold;
  font-size: 1rem;
  color: var(--secondary-color);
  border-radius: 1rem;
  width: 10rem;
  height: 2.5rem;
}

.home__img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

.home__link--first:hover,
.home__link--second:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
  transition: all 0.5s;
}

.delivered-meals {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.delivered-meals__images {
  display: flex;
}

.delivered-meals__img {
  height: 3.4rem;
  width: 3.4rem;
  border-radius: 50%;
  margin-right: -1rem;
  border: 0.15rem solid var(--white-color);
}

.delivered-meals__img:last-child {
  margin: 0;
}

.delivered-meals__text {
  font-size: 1rem;
  font-weight: bold;
  color: var(--secondary-color);
  margin-left: 1rem;
}

.delivered-meals__span {
  color: var(--primary-alpha-color);
}

.featured-title {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1rem;
  color: var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.featured__logos {
  margin-top: 1rem;
  flex-wrap: wrap;
  gap: 7rem;
}

.featured__logos--logo {
  filter: grayscale(100%);
  height: 1.5rem;
  opacity: 30%;
}

.how__container {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 0 1rem;
}

.how__steps {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  margin: auto;
  flex: 1;
  flex-basis: calc(33.33% - 2rem);
  margin-top: 1rem;
}

.step__img {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-basis: calc(33.33% - 2rem);
  max-width: 50vw;
  width: 95%;
  object-fit: cover;
  border-radius: 1.5rem;
  margin: 2rem 1rem;
}

.step__title {
  color: var(--secondary-color);
  font-size: 0.9rem;
  text-align: center;
}

.step__description {
  color: var(--dark-color);
  font-size: 0.9rem;
  text-align: center;
  margin: 0.6rem 3rem 0.6rem;
}

.meals__container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
}

.meals {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  margin: auto;
}

.meals__details {
  position: absolute;
  bottom: 0;
  background-color: var(--neutral-color);
  transition: bottom 0.3s ease;
  opacity: 0;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  margin: 0;
  text-align: left;
  height: 6rem;
  width: 100%;
}

.meals:hover .meals__details {
  bottom: 6%;
  opacity: 0.7;
}

.meals__img {
  max-width: 50vw;
  max-height: 40vh;
  margin-bottom: 1.2rem;
  border-radius: 1.5rem;
}

.meal__title {
  color: var(--dark-color);
  font-size: 0.9rem;
  font-weight: bold;
  margin: 1rem 0 0 1rem;
}

.meal__calories {
  color: var(--dark-color);
  font-size: 0.8rem;
  margin: 0.3rem 0 0 1rem;
}

.meal__profile {
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--dark-color);
  line-height: 1.5;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 0.6rem 0 0 1rem;
}

.all-recipes {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.all-recipes__link {
  color: var(--secondary-color);
  font-size: 1rem;
  text-decoration: none;
}

.reviews__container {
  gap: 3rem;
  margin-top: 2rem;
}

.reviews {
  text-align: center;
  border: 0.1rem;
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 1rem var(--shadow-color);
  background: var(--background-color);
  width: 30%;
  height: 20rem;
}

.reviews__img {
  margin-top: 1.5rem;
  width: 8rem;
  height: auto;
  border-radius: 50%;
}

.review__description {
  font-size: 0.9rem;
  color: var(--dark-color);
  margin: 1.5rem;
}

.review__name {
  font-size: 0.8rem;
  color: var(--dark-color);
}

.pricing__container {
  gap: 3rem;
  margin-top: 2rem;
}

.pricing {
  border: 0.1rem;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  box-shadow: 1rem 1rem 1rem var(--shadow-color);
  background: var(--white-color);
  width: 30%;
  height: 35rem;
}

.pricing:not(.pricing__card1) {
  justify-content: space-between;
}

.pricing__card1 {
  background-color: var(--primary-color);
  text-align: left;
  padding: 3rem;
}

.pricing__title--card1 {
  color: var(--white-color);
  font-size: 2rem;
}

.pricing__subtitle--card1 {
  color: var(--white-color);
  font-size: 1rem;

  margin-top: 1rem;
}

.pricing__description--card1 {
  color: var(--white-color);
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1.5rem;
}

.pricing__details-heading {
  font-size: 2.2rem;
  margin: 2rem 0 0 2rem;
}

.pricing__details-title {
  font-size: 1.3rem;
  color: var(--secondary-color);
  margin: 1rem 0 0 2rem;
}

.pricing__details-subtitle {
  font-size: 0.9rem;
  color: var(--shadow-color);
  margin: 0.5rem 0 0 2rem;
}

.pricing__details-list {
  font-size: 1rem;
  margin: 2rem 4rem 0 4rem;
}

.pricing__details-item {
  margin: 0.6rem;
}

.pricing__details-item::marker {
  color: var(--primary-color);
}

.pricing__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pricing__link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.pricing__link--a {
  text-decoration: none;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  background-color: var(--primary-alpha-color);
  color: var(--white-color);
  font-size: 1.2rem;
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.pricing__link--a:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
  transition: all 0.5s;
}

.cta__container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  border-radius: 1.5rem;
  box-shadow: 1rem 1rem 1rem var(--shadow-color);
  background: var(--white-color);
  width: 70%;
  margin: auto;
  height: 37.4rem;
}

.cta__image--container {
  flex: 1;
}

.cta__image {
  max-width: 25rem;
  height: auto;
  border-bottom-left-radius: 3rem;
  border-top-left-radius: 3rem;
}

.cta__form {
  padding: 5rem;
  flex: 1;
}

.cta__title {
  color: var(--secondary-color);
  font-size: 2.7rem;
  margin-bottom: 1rem;
}

.cta__description {
  color: var(--dark-color);
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.form__fullname,
.form__mail,
.form__selector {
  width: 100%;
  margin: 1rem 0 0 2rem;
}

.form__label {
  display: block;
  margin-bottom: 0.5rem;
}

.form__input,
.form__select {
  width: 85%;
  padding: 0.5rem;
  font-size: 0.8rem;
  border-radius: 0.6rem;
  border: 1px solid var(--dark-color);
}

.form__btn {
  display: block;
  width: 60%;
  font-size: 1.1rem;
  border-radius: 1.5rem;
  border: none;
  background-color: var(--primary-alpha-color);
  color: var(--white-color);
  cursor: pointer;
  padding: 0.7rem;
  margin: auto;
  margin-top: 2rem;
}

.form__btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: all 0.5s;
}

.footer__section {
  margin-top: 8rem;
}

.footer__container {
  margin: auto;
  padding: 1rem;
  border-top: 0.11rem solid var(--neutral-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer__title {
  font-size: 1.7rem;
  color: var(--primary-color);
  margin-top: 1rem;
}

.footer__description {
  font-size: 1rem;
  color: var(--dark-color);
  margin-top: 1rem;
}

.footer__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  gap: 4rem;
}

.footer__item {
  margin-top: 1rem;
}

.footer__social {
  font-size: 1.3rem;
  transition: color 0.4s ease;
}

.footer__social:hover {
  color: var(--primary-alpha-color);
}

.footer__credit {
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--primary-color);
}

.credit__link {
  text-decoration: none;
}

.credit__link:hover {
  color: var(--primary-alpha-color);
}
